@import 'react-md/src/scss/react-md';

@include react-md-everything;
@include react-md-buttons;
$md-btn-include-raised: true !default;
$md-btn-dark-theme-hover-color: rgba($md-btn-dark-theme-base-color, .12) !default;
body {
  background: white;
  margin: 0;
  padding: 0;
  background-image: url("vista.jpg");
  
}

ul {
  margin: 12px 0;
} 
.emp{
  color : blue;
}
 
.app{

   
    text-align: center;
    text-decoration-style: line-through;

}
.tab{
  font-family: Georgia, 'Times New Roman', Times, serif;
  

}
 