@import 'react-md/src/scss/react-md';
 
@include react-md-everything;
 
@include react-md-buttons;
 
 
body {
  background: white;
  margin: 0;
  padding: 0;
    
  //background-image: url("vista.jpg");
  
}

ul {
  margin: 12px 0;
} 
 
 
.app{
text-align: center;
    text-decoration-style: line-through;

}
.tab{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}
.md-grid{
 font-weight: bold;
border: 2px solid #cccccc;
color: darken(hotpink, 9%);
}
.md-grid{
   
    background-image: url("green.jpg");
}
h2{
  background-image: url("green.jpg");
  color:beige
}

 